<% if current_user == @user %>
  <%= render 'users/personnal' %>
<% else %>
  <div class='row'>
    <div class='small-6'>
      <h4>All his comments</h4>
      <%= render partial: 'users/button_with_votes',
                 locals: {datas: @user.comments} %>
    </div>
    <div class="small-6">
      <h4>All his work</h4>
      <% @tutor_inter.each do |t| %>
        <%= link_to t, class: 'button round' do %>
          <%= t.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>