<div class="large-10 columns">
  <%= link_to comment.user.username, comment.user %> <span class="right"><%= comment.created_at.strftime("Posted on %d %a %Y at %T") %></span><br><br>
  <%= comment.content %>
</div>
