<div class="row">
  <a href="<%= tutorial_path(tutorial) %>" class="button round">
    <%= tutorial.title %> <br>
    Ver.<%= tutorial.version %> <br>
    Grade : <%= tutorial.grade_mean %>
  </a>
</div>