<%= breadcrumbs current: 'about' %>
<div class="text-center">
  <h3>Weclome</h3>
  <h5>
    This is a programming learning site web.<br>
    You will find tutorials, which you can do it right now !<br>
    You can also make your own tutorial !<br>
    All tutorials use interpreters.<br>
    Those interpreters can be create by the community or by you.<br>
  </h5>
  <br><br>
  <h5>
    This is a Bachelor project for the school : <a href="http://www.he-arc.ch/">HE-ARC</a><br>
    Student : <a href="https://github.com/ice-blaze">E. Frank</a><br>
    Professor : A. Rizzotti
  </h5>
</div>