<%= breadcrumbs current: 'creator' %>

<div class="row">
  <div class="large-6 column text-center">
    <%= link_to 'Create tutorials', new_tutorial_path, class: 'button' %>
  </div>
  <div class="large-6 column text-center">
    <%= link_to 'Create interpreter', new_interpreter_path, class: 'button' %>
  </div>
</div>
