<% title "Home" %>

<div class="row small-3 large-centered columns">
  <h1>Page#home</h1>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3>Top 5 tutorials (unfinished):</h3>
    <% @tutorials.each_with_index do |t, index| %>
      <%= render partial: 'tutorial', locals: {index: index, tutorial: t}  %>
    <% end %>
  </div>

  <div class="large-6 columns">
    <h3>Most recent tutorial (unfinished) :</h3>
    <% @tutorials.each_with_index do |t, index| %>
      <%= render partial: 'tutorial', locals: {index: index, tutorial: t}  %>
    <% end %>
  </div>
</div>