/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require codemirror
 *= require theme/mbo

 */
@import 'foundation-icons';
@import "foundation_and_overrides";

$green: #009933;
$red: #b73123;
$edit: #ffc400;
$padding: 0.6rem;
$radius: 0rem;
$full-width: true;
$is-input: false;

.red-text{
  color: #ff0013;
}

.green-text{
  color: #30ff00;
}

.edit-button-expand-tiny {
  $include-html-button-classes: $include-html-classes;
  @include button(0.5rem, $edit, $radius, true, false, true);
}

.edit-button-small {
  @include button(0.75rem, $edit, $radius, false, false, true);
}

.plus-button-disabled {
  @include button($padding, $green, $radius, false, true, $is-input);
}
.minus-button-disabled {
  @include button($padding, $red, $radius, false, true, $is-input);
}

.plus-button {
  @include button($padding, $green, $radius, false, false, $is-input);
}
.minus-button {
  @include button($padding, $red, $radius, false, false, $is-input);
}

.comment-panel {
  @include panel($bg: #e8e8e8,$padding:1.5rem,$adjust:false);
}

.regex-error {
  border: 1px solid $red;
  box-shadow: inset 0 1px 2px rgba(255,0,0,0.1);
}
.regex-error:focus{
  border: 1px solid $red;
  box-shadow: 0 0 5px $red;
}

.regex-validate {
  border: 1px solid $green;
}
.regex-validate:focus {
  border: 1px solid $green;
  box-shadow: 0 0 5px $green;
}

$arrows: #373737;
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid $arrows;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid $arrows;
}

.rot1{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rot2{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}