/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import 'foundation-icons';
@import 'foundation';

$green: #009933;
$red: #b73123;
$padding: 0.6rem;
$radius: 0rem;
$full-width: true;
$is-input: false;


.plus-button-disabled {
  @include button($padding, $green, $radius, false, true, $is-input);
}
.minus-button-disabled {
  @include button($padding, $red, $radius, false, true, $is-input);
}

.plus-button {
  @include button($padding, $green, $radius, false, false, $is-input);
}
.minus-button {
  @include button($padding, $red, $radius, false, false, $is-input);
}

.comment-panel {
  @include panel($bg: #e8e8e8,$padding:1.5rem,$adjust:false);
}