// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';
//@import 'application';

$padding: 1rem;
$done: #009933;
$undone: #b73123;
$radius: 500rem;
$full-width: true;
$disabled: false;
$is-input: false;

// Using the available options
.done-part {
  @include button($padding, $done, $radius, $full-width, $disabled, $is-input);
}

.undone-part {
  @include button($padding, $undone, $radius, $full-width, $disabled, $is-input);
}